{% extends "admin/change_list.html" %}
{% load i18n admin_list static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'fontawsome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'qa/css/testlist.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'qa/js/testlist.js' %}"></script>
{% endblock %}

{% block content_title %}
    <h1>
        Test Lists
        <span class="small-counter">{{ cl.result_count }} of {{ cl.full_result_count }}</span>
    </h1>
{% endblock %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:qa_testlist_add' %}" class="btn-primary">
            + {% trans "New Test List" %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:qa_export_testpack' %}" class="btn-default">
            {% trans "Export Test Pack" %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:qa_import_testpack' %}" class="btn-default">
            {% trans "Import Test Pack" %}
        </a>
    </li>
{% endblock %}

{% block result_list %}
    <div class="results-card">
        <div class="results-card-header">
            <div class="title-with-icon">
                <i class="fa fa-list-alt"></i> Configured Test Lists
            </div>
            <div id="custom-search-container">
                {# JS will move the search box here #}
            </div>
        </div>
        <div class="results-card-body">
            {% result_list cl %}
        </div>
    </div>
{% endblock %}