{% extends "admin/change_list.html" %}
{% load i18n admin_list static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'fontawsome/css/font-awesome.min.css' %}">
{% endblock %}

{% block content_title %}
    {% include "admin/qa/testlist/testlist_assets.html" %}
{% endblock %}

{% block object-tools %}
<div class="testlist-top-header">
    <h1>
        Test Lists
        <span class="small-counter">{{ cl.result_count }} of {{ cl.full_result_count }}</span>
    </h1>
    <div class="testlist-top-buttons">
        <a href="{% url 'admin:qa_import_testpack' %}" class="btn-default">
            <i class="fa fa-download"></i> {% trans "Import" %}
        </a>
        <a href="{% url 'admin:qa_export_testpack' %}" class="btn-default">
            <i class="fa fa-upload"></i> {% trans "Export" %}
        </a>
        <a href="{% url 'admin:qa_testlist_add' %}" class="btn-primary">
            <i class="fa fa-plus"></i> {% trans "New Test List" %}
        </a>
    </div>
</div>
{% endblock %}

{% block search %}{% endblock %}

{% block result_list %}
    <div class="results-card">
        <div class="results-card-header">
            <div class="title-with-icon">
                <i class="fa fa-list-alt"></i> Configured Test Lists
            </div>
            <div id="custom-search-container">
                {% search_form cl %}
            </div>
        </div>
        <div class="results-card-body">
            {% result_list cl %}
        </div>
    </div>
{% endblock %}