{% load i18n static %}
{% if test_meta.description %}
  <div class="tl-test-desc"
       hx-get="{% url 'admin:qa_testlist_test_desc_modal' %}?test_id={{ test_meta.id }}&index={{ index }}"
       hx-target="#tl-modal-container"
       hx-trigger="click"
       title="{% trans "Click to edit description" %}">
    <i class="fa fa-align-left" aria-hidden="true"></i>
    <span>{{ test_meta.description|striptags|truncatewords:16 }}</span>
  </div>
{% else %}
  <button type="button" class="tl-add-desc-btn"
          hx-get="{% url 'admin:qa_testlist_test_desc_modal' %}?test_id={{ test_meta.id }}&index={{ index }}"
          hx-target="#tl-modal-container"
          hx-trigger="click">
    <i class="fa fa-plus" aria-hidden="true"></i> {% trans "Add description" %}
  </button>
{% endif %}
